@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    @*Customize h2 element with text of your choosing*@
    <h2 class="display-4">THE CURRENT TIME IS</h2>
    <p>@DateTime.Now</p>
</div>
